@import "tailwindcss";

/* Base VS Code Webview Sync */
body {
  font-family: var(--vscode-editor-font-family), ui-sans-serif, system-ui, sans-serif;
  font-size: var(--vscode-editor-font-size);
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
  padding: 20px;
  margin: 0;
  line-height: 1.6;
}